<p>test works!</p>
<button class="btnlogin" > <i class="fas fa-th-large"></i>Logout from Microsoft</button>
<button class="btnlogin" > <i class="fas fa-th-large" ></i>Logout from locallogin</button>
                       

              <mat-horizontal-stepper >
                  <mat-step label="Project details">

                  </mat-step>
                  <mat-step label="Project details">

                </mat-step>
                <mat-step label="Project details">

                </mat-step>
              </mat-horizontal-stepper>   


              <table >
                <tr>
                  <td><input type="text"></td>
                </tr>
              </table>
              
                
              <button (click)="OnSuccess()">Click</button>

